
<%= render 'nav' %>

<div>
  <% @books.each do |book| %>
    <div style="background-color: #a0c0e0;">

      <%= link_to book.title, book_path(book.id)%>

      <p>Written by: 
        <%= render 'attribute_display', book: book, attributes: book.authors%>
      </p> 

      <p>Genre:
        <%= render 'attribute_display', book: book, attributes: book.genres%>
      </p>
      
    </div>
  <% end %>
</div>
